* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #000000;
    
}

button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: inherit;
    background-color: transparent;
    border: 1px solid white;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    transition: 0.3s ease;
}

button:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
}

.container {
    position: relative;
    width: 1280px;
    height: 720px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #767676;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: #ffffff;
}

.container .content {
    width: 100%;
    display: flex;
}

.container .introduce {
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 20;
}


.introduce .wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: fit-content;
    padding: 0 25px 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    pointer-events: none;
}

.introduce .wrapper span {
    overflow: hidden;
}

.introduce .wrapper span > * {
    transition: 0.5s ease;
    opacity: 0;
    transform: translateY(300px);
    transition-delay: calc((3 - var(--idx)) * 0.1s);
}

.introduce .wrapper.active {
    pointer-events: all;
}

.introduce .wrapper.active span > * {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--idx) * 0.1s);
}

.introduce:not(.place) {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.introduce .country {
    font-size: 1.5rem;
    font-weight: 400;
}

.introduce .place {
    font-family: 'Borel', cursive;
    font-size: 3.5em;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1.1;
    letter-spacing: 1px;
    margin-top: 30px;
}

.introduce .describe {
    font-size: 1rem;
    margin-top: 8px;
    font-weight: 300;
    line-height: 1.5;
}

.introduce .discover-button {
    width: 250px;
    height: 50px;
    border-radius: 50px;
    margin-top: 20px;
}

.content .thumbnail-list {
    position: relative;
    height: 300px;
    flex: 1;
}

.thumbnail-list .wrapper {
    position: relative;
    z-index: 10;
    height: 300px;
}


.thumbnail-list .wrapper .thumbnail {
    position: absolute;
    height: 300px;
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    transition: 0.75s cubic-bezier(0.6, 0.1, 0.3, 1);
    transform: translateX(calc(var(--idx) * 230px));
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);

}


.thumbnail-list .wrapper .thumbnail.zoom {
    width: 1280px;
    height: 720px;
    transform: translate(-512px, -270px);
    filter: brightness(60%);
    box-shadow: none;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.container .navigation {
    margin-left: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 50px 50px 50px 0;
    z-index: 20;
}

.navigation .next-button {
    width: 180px;
    border-radius: 50px;
}

.navigation .line {
    flex: 1;
    height: 2px;
    background-color: #ffffff;
}

.navigation .ordinal-number {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.ordinal-number h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: absolute;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 1;
    transform: translateY(200%);
    transition: 0.5s ease;
}


.ordinal-number h2.active {
    transform: unset;
}